.contact-container {
    width: 100%;
    height: 640px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-container img {
    margin-bottom: 30px;
}

.contact-container h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 100px;
    line-height: 100px;
    text-transform: uppercase;
    color: #1B2B41;
    text-align: center;
}

.contact-container h1 span {
    font-style: italic;
    font-weight: 300;
    font-size: 100px;
    line-height: 100px;
    color: #C94B32;
}

.contact-container p {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 20px;
    /* or 80% */
    text-align: center;

    /* Grey */
    color: #76808D;
    margin-top: 30px;
    margin-bottom: 45px;
}

.contact-container .contact-row {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contact-container .contact-row .logo-container {
    background: #FFFFFF;
    /* Color-drop-HOVER */
    box-shadow: 3px 5px 20px rgba(27, 43, 65, 0.12), 0px 0px 20px rgba(201, 75, 50, 0.18);
    border-radius: 20px;
    width: 228px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-container .contact-row .logo-container .logo-box {
    height: 32px;
    width: 32px;
    background: #C94B32;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media only screen and (max-width: 340px) {
    .contact-container {
        height: 0;
        height: 100%;
        padding: 0 20px;
    }

    .contact-container img {
        margin-bottom: 0px;
        margin-top: 100px;
    }

    .contact-container h1 {
        font-size: 30px;
        line-height: normal;
    }

    .contact-container h1 span {
        font-size: 30px;
    }

    .contact-container p {
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 45px;
    }

    .contact-container .contact-row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 345px) and (max-width : 375px) {
    .contact-container {
        height: 0;
        height: 100%;
        padding: 0 20px;
    }

    .contact-container img {
        margin-bottom: 0px;
        margin-top: 100px;
    }

    .contact-container h1 {
        font-size: 40px;
        line-height: normal;
    }

    .contact-container h1 span {
        font-size: 40px;
    }

    .contact-container p {
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 45px;
    }

    .contact-container .contact-row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
    }

    .contact-container .contact-row .logo-container {
        width: 90%;
    }
}

@media only screen and (min-width: 376px) and (max-width : 425px) {
    .contact-container {
        height: 0;
        height: 100%;
        padding: 0 20px;
    }

    .contact-container img {
        margin-bottom: 0px;
        margin-top: 100px;
    }

    .contact-container h1 {
        font-size: 40px;
        line-height: normal;
    }

    .contact-container h1 span {
        font-size: 40px;
    }

    .contact-container p {
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 45px;
    }

    .contact-container .contact-row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
    }

    .contact-container .contact-row .logo-container {
        width: 90%;
    }
}

@media only screen and (min-width: 426px) and (max-width : 768px) {}

@media only screen and (min-width: 769px) and (max-width : 1024px) {}