.contact-container {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    justify-content: center;
    position: relative;
}

.contact-container img {
    margin-bottom: 30px;
}

.contact-container h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 100px;
    line-height: 100px;
    text-transform: uppercase;
    color: #1B2B41;
    text-align: center;
}

.contact-container h1 span {
    font-style: italic;
    font-weight: 300;
    font-size: 100px;
    line-height: 100px;
    color: #C94B32;
}

.contact-container p {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 20px;
    /* or 80% */
    text-align: center;

    /* Grey */
    color: #76808D;
    margin-top: 30px;
    margin-bottom: 45px;
}

.contact-container .contact-row {
    width: 70%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

.contact-container .contact-row .contact-wrapper {
    /* Color-drop-HOVER */
    box-shadow: 3px 5px 20px rgba(27, 43, 65, 0.12), 0px 0px 20px rgba(201, 75, 50, 0.18);
    border-radius: 20px;
    height: 75px;
    background: #FFFFFF;
    display: flex;
    overflow: hidden;
}


.contact-container .contact-row .contact-wrapper .logo-container {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-container .contact-row .contact-wrapper .logo-container .logo-box {
    height: 32px;
    width: 32px;
    background: #C94B32;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.5s linear;
    transition: box-shadow 0.25s linear;
    margin-right: 20px;
}

.contact-container .contact-row .contact-wrapper .logo-container .logo-box:last-child {
    margin: 0;
}

.contact-container .contact-row .contact-wrapper .logo-container .logo-box:hover {
    background-color: #EA6447;
    box-shadow: 3px 5px 20px rgba(27, 43, 65, 0.12), 0px 0px 20px rgba(201, 75, 50, 0.18);
}

.contact-container .contact-row .contact-wrapper .logo-container .logo-box:focus {
    background-color: #b12e15;
}

.contact-container .contact-row .contact-wrapper .newsletter-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.contact-container .contact-row .contact-wrapper .newsletter-container .newsletter {
    width: 300px;
    background: #C94B32;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container .contact-row .contact-wrapper .newsletter-container .newsletter:hover {
    cursor: pointer;
    background-color: #EA6447;
}

.contact-container .contact-row .contact-wrapper .newsletter-container .newsletter p {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 20px;
}

.contact-container .contact-row .contact-wrapper .newsletter-container div input {
    width: 200px;
    height: 75px;
    padding: 10px;
    border: none;
    outline: none;
    border-left: 1px solid #76808D55;
}

.contact-container .contact-row .contact-wrapper .newsletter-container div button {
    width: 100px;
    height: 75px;
    background: #C94B32;
    color: #FFF;
    font-size: 20px;
    margin: 0;
    border: none;
}

/* .contact-container .contact-row .contact-wrapper .newsletter-container div button p {
    color: #FFF;
    
    margin: 0;
} */

.contact-container .contact-row .contact-wrapper .newsletter-container div button:hover {
    background-color: #EA6447;
}

.contact-container .contact-tnc {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container .contact-tnc a {
    color: #76808D;
    opacity: 0.7;
    text-decoration: underline;
    font-size: 16px;
}

.contact-container .contact-tnc .dash {
    width: 5px;
    height: 1.5px;
    background-color: #76808D;
    opacity: 0.7;
    margin: 0 10px;
}

@media only screen and (max-width: 340px) {
    .contact-container {
        height: 0;
        height: 100%;
        padding: 0 20px;
    }

    .contact-container img {
        margin-bottom: 0px;
        margin-top: 100px;
    }

    .contact-container h1 {
        font-size: 30px;
        line-height: normal;
    }

    .contact-container h1 span {
        font-size: 30px;
    }

    .contact-container p {
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 45px;
    }

    .contact-container .contact-row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
    }

    .contact-container .contact-tnc a {
        font-size: 14px;
    }

    .contact-container .contact-row .contact-wrapper {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .contact-container .contact-row .contact-wrapper .logo-container {
        padding: 20px;
    }

    .contact-container .contact-row .contact-wrapper .newsletter-container .newsletter {
        padding: 20px 0;
    }

    .contact-container .contact-row .contact-wrapper .newsletter-container .newsletter p {
        font-size: 14px;
    }

    .contact-container .contact-row .contact-wrapper .newsletter-container div {
        display: flex;
        width: 100%;
    }

    .contact-container .contact-row .contact-wrapper .newsletter-container div input {
        width: 70%;
        border: none;
        border-top: 1px solid #76808D55;
    }

    .contact-container .contact-row .contact-wrapper .newsletter-container div button {
        width: 30%;
    }
}

@media only screen and (min-width: 345px) and (max-width : 375px) {
    .contact-container {
        height: 0;
        height: 100%;
        padding: 0 20px;
    }

    .contact-container img {
        margin-bottom: 0px;
        margin-top: 100px;
    }

    .contact-container h1 {
        font-size: 40px;
        line-height: normal;
    }

    .contact-container h1 span {
        font-size: 40px;
    }

    .contact-container p {
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 45px;
    }

    .contact-container .contact-row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
    }

    .contact-container .contact-row .logo-container {
        width: 90%;
    }

    .contact-container .contact-tnc a {
        font-size: 14px;
    }

    .contact-container .contact-row .contact-wrapper {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .contact-container .contact-row .contact-wrapper .logo-container {
        padding: 20px;
    }

    .contact-container .contact-row .contact-wrapper .newsletter-container .newsletter {
        padding: 20px 0;
    }

    .contact-container .contact-row .contact-wrapper .newsletter-container .newsletter p {
        font-size: 14px;
    }

    .contact-container .contact-row .contact-wrapper .newsletter-container div {
        display: flex;
        width: 100%;
    }

    .contact-container .contact-row .contact-wrapper .newsletter-container div input {
        width: 70%;
        border: none;
        border-top: 1px solid #76808D55;
    }

    .contact-container .contact-row .contact-wrapper .newsletter-container div button {
        width: 30%;
    }
}

@media only screen and (min-width: 376px) and (max-width : 425px) {
    .contact-container {
        height: 0;
        height: 100%;
        padding: 0 20px;
    }

    .contact-container img {
        margin-bottom: 0px;
        margin-top: 100px;
    }

    .contact-container h1 {
        font-size: 40px;
        line-height: normal;
    }

    .contact-container h1 span {
        font-size: 40px;
    }

    .contact-container p {
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 45px;
    }

    .contact-container .contact-row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
    }

    .contact-container .contact-row .logo-container {
        width: 90%;
    }

    .contact-container .contact-tnc a {
        font-size: 14px;
    }

    .contact-container .contact-row .contact-wrapper {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .contact-container .contact-row .contact-wrapper .logo-container {
        padding: 20px;
    }

    .contact-container .contact-row .contact-wrapper .newsletter-container .newsletter {
        padding: 20px 0;
    }

    .contact-container .contact-row .contact-wrapper .newsletter-container .newsletter p {
        font-size: 14px;
    }

    .contact-container .contact-row .contact-wrapper .newsletter-container div {
        display: flex;
        width: 100%;
    }

    .contact-container .contact-row .contact-wrapper .newsletter-container div input {
        width: 70%;
        border: none;
        border-top: 1px solid #76808D55;
    }

    .contact-container .contact-row .contact-wrapper .newsletter-container div button {
        width: 30%;
    }
}

@media only screen and (min-width: 426px) and (max-width : 768px) {}

@media only screen and (min-width: 769px) and (max-width : 1024px) {}