.power-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    background: transparent;
}

.power-container img {
    margin-top: 100px;
}

.power-container .power-title {
    font-style: normal;
    font-weight: 800;
    font-size: 100px;
    text-transform: uppercase;

    /* DARK */

    color: #1B2B41;
    text-align: center;
    z-index: 1;
    margin-top: 0rem;
}

.power-container .power-title span {
    font-style: italic;
    font-weight: 300;
    font-size: 100px;
    color: #C94B32;
}

.power-container .power-content {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    /* or 120% */

    text-align: center;

    /* Grey */

    color: #76808D;
    margin: 30px 0 70px 0px;
}

.power-container .power-section-container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.power-container .power-section-container .power-section {
    width: 25%;
    height: 150px;
    display: flex;
    flex-direction: column;
}

.power-container .power-section-container .power-section h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;

    color: #B12F15;
    margin-bottom: 15px;
}

.power-container .power-section-container .power-section p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #76808D;
}

@media only screen and (max-width: 340px) {
    .power-container img {
        margin-top: 80px;
        height: 50%;
        width: 50%;
    }

    .power-container .power-title {
        font-size: 30px;
        margin: 0;
        margin: 30px 0 60px 0;
    }

    .power-container .power-title span {
        font-size: 30px;
    }

    .power-container .power-content-container {
        width: 100%;
        padding: 0 10px;
    }

    .power-container .power-content-container .power-content {
        font-size: 20px;
        margin: 0;
    }

    .power-container .power-section-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .power-container .power-section-container .power-section {
        width: 100%;
        margin: 0;
        height: 100px;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 70px;
    }

    .power-container .power-section-container .power-section p {
        text-align: center;
    }
}

@media only screen and (min-width: 345px) and (max-width : 375px) {
    .power-container img {
        margin-top: 80px;
        height: 50%;
        width: 50%;
    }

    .power-container .power-title {
        font-size: 40px;
        margin: 0;
        margin: 30px 0 60px 0;
    }

    .power-container .power-title span {
        font-size: 40px;
    }

    .power-container .power-content-container {
        width: 100%;
        padding: 0 10px;
    }

    .power-container .power-content-container .power-content {
        font-size: 20px;
        margin: 0;
    }

    .power-container .power-section-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .power-container .power-section-container .power-section {
        width: 70%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 70px;
    }

    .power-container .power-section-container .power-section p {
        text-align: center;
    }
}

@media only screen and (min-width: 376px) and (max-width : 425px) {
    .power-container img {
        margin-top: 80px;
        height: 50%;
        width: 50%;
    }

    .power-container .power-title {
        font-size: 40px;
        margin: 0;
        margin: 30px 0 60px 0;
    }

    .power-container .power-title span {
        font-size: 40px;
    }

    .power-container .power-content-container {
        width: 100%;
        padding: 0 10px;
    }

    .power-container .power-content-container .power-content {
        font-size: 20px;
        margin: 0;
    }

    .power-container .power-section-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .power-container .power-section-container .power-section {
        width: 70%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 70px;
    }

    .power-container .power-section-container .power-section p {
        text-align: center;
    }
}

@media only screen and (min-width: 426px) and (max-width : 768px) {}

@media only screen and (min-width: 769px) and (max-width : 1024px) {}
