.power-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    background: transparent;
}

.power-container .access-btn {
    background-color: #C94B32;
    border-radius: 5px;
    width: 265px;
    height: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.011em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    transition: background-color 0.5s linear;
    transition: box-shadow 0.25s linear;
    margin-top: 40px;
}

.power-container .access-btn:hover {
    background-color: #EA6447;
    box-shadow: 3px 5px 20px rgba(27, 43, 65, 0.12), 0px 0px 20px rgba(201, 75, 50, 0.18);
}

.power-container .access-btn:focus {
    background-color: #b12e15;
}


.power-container img {
    margin-top: 100px;
}

.power-container .power-title {
    font-style: normal;
    font-weight: 800;
    font-size: 100px;
    text-transform: uppercase;

    /* DARK */

    color: #1B2B41;
    text-align: center;
    z-index: 1;
    margin-top: 0rem;
}

.power-container .power-title span {
    font-style: italic;
    font-weight: 300;
    font-size: 100px;
    color: #C94B32;
}

.power-container .power-content {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    /* or 120% */

    text-align: center;

    /* Grey */

    color: #76808D;
    margin: 30px 0 70px 0px;
}

.power-container .power-section-container {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
}

.power-container .power-section-container .power-section {
    width: 25%;
    /*height: 150px;*/
    display: flex;
    flex-direction: column;
}

.power-container .power-section-container .power-section h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;

    color: #B12F15;
    margin-bottom: 15px;
}

.power-container .power-section-container .power-section p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #76808D;
}

@media only screen and (max-width: 344px) {
    .power-container .access-btn {
        margin: 0;
        margin-bottom: 50px;
        font-size: 14px;
    }

    .power-container img {
        margin-top: 80px;
        height: 50%;
        width: 50%;
    }

    .power-container .power-title {
        font-size: 25px;
        margin: 0;
        margin: 30px 0 60px 0;
    }

    .power-container .power-title span {
        font-size: 25px;
    }

    .power-container .power-content-container {
        width: 100%;
        padding: 0 10px;
    }

    .power-container .power-content-container .power-content {
        font-size: 16px;
        margin: 0;
    }

    .power-container .power-section-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .power-container .power-section-container .power-section {
        width: 100%;
        margin-bottom: 20px;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }

    .power-container .power-section-container .power-section h1 {
        font-size: 16px;
        text-align: center;
    }

    .power-container .power-section-container .power-section p {
        font-size: 14px;
        text-align: center;
    }
}

@media only screen and (min-width: 345px) and (max-width : 375px) {
    .power-container .access-btn {
        margin-bottom: 50px;
        font-size: 14px;
    }

    .power-container img {
        margin-top: 80px;
        height: 50%;
        width: 50%;
    }

    .power-container .power-title {
        font-size: 30px;
        margin: 30px 0 60px 0;
    }

    .power-container .power-title span {
        font-size: 30px;
    }

    .power-container .power-content-container {
        width: 100%;
        padding: 0 10px;
    }

    .power-container .power-content-container .power-content {
        font-size: 16px;
        margin: 0;
    }

    .power-container .power-section-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .power-container .power-section-container .power-section {
        width: 70%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 70px;
    }

    .power-container .power-section-container .power-section h1 {
        font-size: 18px;
        text-align: center;
    }

    .power-container .power-section-container .power-section p {
        text-align: center;
    }
}

@media only screen and (min-width: 376px) and (max-width : 425px) {
    .power-container .access-btn {
        margin: 0;
        margin-bottom: 50px;
        font-size: 14px;
    }

    .power-container img {
        margin-top: 80px;
        height: 50%;
        width: 50%;
    }

    .power-container .power-title {
        font-size: 35px;
        margin: 0;
        margin: 30px 0 60px 0;
    }

    .power-container .power-title span {
        font-size: 35px;
    }

    .power-container .power-content-container {
        width: 100%;
        padding: 0 10px;
    }

    .power-container .power-content-container .power-content {
        font-size: 18px;
        margin: 0;
    }

    .power-container .power-section-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .power-container .power-section-container .power-section {
        width: 70%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 70px;
    }

    .power-container .power-section-container .power-section h1 {
        font-size: 20px;
        text-align: center;
    }

    .power-container .power-section-container .power-section p {
        font-size: 15px;
        text-align: center;
    }
}

@media only screen and (min-width: 426px) and (max-width : 768px) {
    .power-container .power-title {
        font-size: 40px;
    }   
    .power-container .power-title span {
        font-size: 40px;
    }
    .power-container img {
        width: 40%;
    }
    .power-container .power-content {
        font-size: 20px;
    }
    .power-container .power-section-container .power-section h1 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 769px) and (max-width : 1024px) {
    .power-container .power-title {
        font-size: 70px;
    }   
    .power-container .power-title span {
        font-size: 70px;
    }
    .power-container img {
        width: 40%;
    }
    .power-container .power-content {
        font-size: 25px;
    }
    .power-container .power-section-container .power-section h1 {
        font-size: 25px;
    }

}
