.hands-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #FFF;
    overflow: hidden;
}

.hands-container .left-img {
    position: absolute;
    top: -12%;
    left: 0;
    transform: rotate(0deg);
}

.rotate-right {
    animation-name: rotate-right;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes rotate-right {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}


.hands-container .right-img {
    position: absolute;
    top: 0;
    right: -1%;
    transform: rotate(0deg);
}

.rotate-left {
    animation-name: rotate-left;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes rotate-left {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

.hands-container .hands-title {
    font-style: normal;
    font-weight: 800;
    font-size: 100px;
    line-height: 100px;
    text-transform: uppercase;
    color: #1B2B41;
}

.hands-container .hands-title span {
    font-style: italic;
    font-weight: 300;
    font-size: 100px;
    color: #C94B32;
}

.hands-container .hands-p-container {
    width: 50%;
}

.hands-container .hands-p-container .hands-p {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    /* or 120% */
    text-align: center;

    /* Grey */
    color: #76808D;
    margin-top: 30px;
    margin-bottom: 60px;
}

.hands-container .hands-section-row {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hands-container .hands-section-row .hands-section {
    width: 40%;
    /* margin-bottom: 100px; */
}

.hands-container .hands-section-row .hands-section:first-child {
    margin-right: 30px;
}

.hands-container .hands-section-row .hands-section h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    /* identical to box height, or 100% */
    letter-spacing: -0.011em;

    /* Dark-red */
    color: #B12F15;
    margin-bottom: 15px;
}

.hands-container .hands-section-row .hands-section p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    /* or 133% */

    /* Grey */
    color: #76808D;
}

@media only screen and (max-width: 344px) {
    .hands-container {
        height: 0;
        height: 100%;
        overflow-x: hidden;
    }

    .hands-container .hands-title {
        font-size: 30px;
        line-height: normal;
        margin-top: 100px;
    }

    .hands-container .hands-title span {
        font-size: 30px;
    }

    .hands-container .hands-p-container {
        width: 80%;

    }

    .hands-container .hands-p-container .hands-p {
        font-size: 16px;
        margin-top: 0px; 
        margin-bottom: 0px;
    }

    .hands-container .hands-section-row .hands-section h1  {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .hands-container .hands-section-row {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .hands-container .hands-section-row .hands-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        margin-bottom: 70px;
    }

    .hands-container .hands-section-row .hands-section:first-child {
        margin: 0;
        margin-bottom: 70px;
    }

    .hands-container .hands-section-row .hands-section p {
        font-size: 14px;
        text-align: center;

    }

    .hands-container .left-img {
        width: 200px;
        position: absolute;
        top: 0%;
        left: -5%;
        z-index: 2;
        transform: rotate(-25deg);
    }

    .hands-container .right-img {
        width: 175px;
        position: absolute;
        top: 5%;
        right: -3%;
        z-index: 2;
        transform: rotate(10deg);
    }

    .rotate-right {
        animation-name: none;
    }

    .rotate-left {
        animation-name: none;
    }
}

@media only screen and (min-width: 345px) and (max-width : 375px) {
    .hands-container {
        height: 0;
        height: 100%;
        overflow-x: hidden;
    }

    .hands-container .hands-title {
        font-size: 30px;
        line-height: normal;
        margin-top: 100px;
    }

    .hands-container .hands-title span {
        font-size: 30px;
    }

    .hands-container .hands-p-container {
        width: 80%;
    }

    .hands-container .hands-p-container .hands-p {
        font-size: 16px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .hands-container .hands-section-row .hands-section h1 {
        font-size: 18px;
    }

    .hands-container .hands-section-row {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .hands-container .hands-section-row .hands-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        margin-bottom: 70px;
    }

    .hands-container .hands-section-row .hands-section:first-child {
        margin: 0;
        margin-bottom: 70px;
    }

    .hands-container .hands-section-row .hands-section p {
        text-align: center;
    }

    .hands-container .left-img {
        width: 215px;
        position: absolute;
        top: 4%;
        left: -5%;
        transform: rotate(-25deg);
    }

    .hands-container .right-img {
        width: 175px;
        position: absolute;
        top: 10%;
        right: -3%;
        transform: rotate(10deg);
    }

    .rotate-right {
        animation-name: none;
    }

    .rotate-left {
        animation-name: none;
    }
}

@media only screen and (min-width: 376px) and (max-width : 549px) {
    .hands-container {
        height: 0;
        height: 100%;
        overflow-x: hidden;
    }

    .hands-container .hands-title {
        font-size: 40px;
        line-height: normal;
        margin-top: 100px;
    }

    .hands-container .hands-title span {
        font-size: 40px;
    }

    .hands-container .hands-p-container {
        width: 80%;
    }

    .hands-container .hands-p-container .hands-p {
        font-size: 16px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .hands-container .hands-section-row .hands-section h1  {
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .hands-container .hands-section-row {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .hands-container .hands-section-row .hands-section {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        margin-bottom: 70px;
    }

    .hands-container .hands-section-row .hands-section:first-child {
        margin: 0;
        margin-bottom: 70px;
    }

    .hands-container .hands-section-row .hands-section p {
        text-align: center;
    }

    .hands-container .left-img {
        width: 215px;
        position: absolute;
        top: 4%;
        left: -5%;
        transform: rotate(-25deg);
    }

    .hands-container .right-img {
        width: 175px;
        position: absolute;
        top: 10%;
        right: -3%;
        transform: rotate(10deg);
    }

    .rotate-right {
        animation-name: none;
    }

    .rotate-left {
        animation-name: none;
    }
}

@media only screen and (min-width: 550px) and (max-width : 768px) {
    .hands-container .hands-title {
        font-size: 50px;
    }
    .hands-container .hands-title span{
        font-size: 50px;
    }
    .hands-container .left-img {
        width:50%
    }
    .hands-container .right-img {
        width:50%
    }
    .hands-container .hands-p-container .hands-p {
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .hands-container .hands-section-row .hands-section h1  {
        font-size: 22px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .hands-container .hands-section-row {
        width: 80%;
    }
}

@media only screen and (min-width: 769px) and (max-width : 1024px) {
    .hands-container .hands-title {
        font-size: 60px;
    }
    .hands-container .hands-title span{
        font-size: 60px;
    }
    .hands-container .left-img {
        width:50%
    }
    .hands-container .right-img {
        width:50%
    }
    .hands-container .hands-p-container .hands-p {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .hands-container .hands-section-row .hands-section h1  {
        font-size: 22px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .hands-container .hands-section-row {
        width: 60%;
    }
}
