.sound-container {
    /* width: 100%; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    position: relative;
    background: transparent;
}

.sound-container .scroll-placeholder {
    height: 200vh;
    position: absolute
}

.sound-container .scale-down {
    transform: scale(1),
}

.sound-container .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 1;
}

/* .sound-container img {
    width: 100%;
    position: absolute;
    bottom: 0%;
    animation-name: slidein-right;
    animation-duration: 5s;
    animation-delay: -5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
} */

.sound-container .sound-header-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.sound-container .sound-header-container .sound-header {
    width: 100%;
    overflow: hidden;
}

.sound-container .sound-header-container .sound-header h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 100px;
    color: #1B2B41;
    text-transform: capitalize;
    width: 100%;
}

.sound-container .sound-header-container .sound-header h1 span {
    font-style: italic;
    font-weight: 300;
    font-size: 100px;
    color: #C94B32;
}

.sound-container .sound-header-container .sound-header .right_to_left {
    text-transform: uppercase;
    width: 200%;
    /* animation-name: slidein-left;
    animation-duration: 7.5s;
    animation-delay: -5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
}

.sound-container .sound-header-container .sound-header .left_to_right {
    text-transform: uppercase;
    width: 200%;
    margin-left: 200px;
    /* animation-name: slidein-right;
    animation-duration: 7.5s;
    animation-delay: -5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
}

.sound-container .sound-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 45px;
    margin: 5rem 0;
}

.sound-container .sound-content .sound-section {
    width: 30%;
}

.sound-container .sound-content .sound-section h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #B12F15;
    margin-bottom: 15px;
}

.sound-container .sound-content .sound-section p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #76808D;
    line-height: 20px;
}

.sound-container .sound-content .sound-section p span {
    font-weight: 800;
}

.sound-container .sound-footer {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    background-image: url(../../../../assets/soundbar.svg);
    background-size: contain;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    /* animation: animatedBackground 5s linear infinite; */
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -100% 0;
    }
}

@keyframes slidein-left {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes slidein-right {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media only screen and (max-width: 340px) {
    .sound-container {
        justify-content: center;
        padding: 0 27px;
        height: 0;
        height: 100%;
    }

    .sound-container .sound-header-container {
        width: 100%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sound-container .sound-header-container .sound-header {
        width: 90%;
    }

    .sound-container .sound-header-container .sound-header .right_to_left {
        /* animation-name: none; */
    }

    .sound-container .sound-header-container .sound-header .left_to_right {
        /* animation-name: none; */
    }

    .sound-container .sound-header-container .sound-header h1 {
        font-weight: 700;
        font-size: 30px;
        text-align: center;
    }

    .sound-container .sound-header-container .sound-header h1 span {
        font-size: 30px;
    }

    .sound-container .sound-content {
        padding: 0;
        margin: 0;
        margin: 80px 0;
        flex-direction: column;
    }

    .sound-container .sound-content .sound-section {
        width: 100%;
        margin-bottom: 70px;
    }

    .sound-container .sound-content .sound-section:last-child {
        margin: 0;
        margin-bottom: 35px;
    }

    .sound-container .sound-content .sound-section h1 {
        text-align: center;
    }

    .sound-container .sound-content .sound-section p {
        text-align: center;
    }

    .sound-container .sound-content .sound-section p span {
        font-weight: 600;
    }

    .sound-container img {
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    .sound-container .sound-footer {
        height: 60px;
        animation: none;
    }
}

@media only screen and (min-width: 345px) and (max-width : 375px) {
    .sound-container {
        justify-content: center;
        padding: 0 27px;
        height: 0;
        height: 100%;
    }

    .sound-container .sound-header-container {
        width: 100%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sound-container .sound-header-container .sound-header {
        width: 70%;
    }

    .sound-container .sound-header-container .sound-header .right_to_left {
        animation-name: none;
    }

    .sound-container .sound-header-container .sound-header .left_to_right {
        animation-name: none;
    }

    .sound-container .sound-header-container .sound-header h1 {
        font-weight: 700;
        font-size: 40px;
        text-align: center;
    }

    .sound-container .sound-header-container .sound-header h1 span {
        font-size: 40px;
    }

    .sound-container .sound-content {
        padding: 0;
        margin: 0;
        margin: 80px 0;
        flex-direction: column;
    }

    .sound-container .sound-content .sound-section {
        width: 100%;
        margin-bottom: 70px;
    }

    .sound-container .sound-content .sound-section h1 {
        text-align: center;
    }

    .sound-container .sound-content .sound-section p {
        text-align: center;
    }

    .sound-container .sound-content .sound-section p span {
        font-weight: 600;
    }

    .sound-container .sound-footer {
        height: 75px;
        animation: none;
    }
}

@media only screen and (min-width: 376px) and (max-width : 425px) {
    .sound-container {
        justify-content: center;
        padding: 0 27px;
        height: 0;
        height: 100%;
    }

    .sound-container .sound-header-container {
        width: 100%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sound-container .sound-header-container .sound-header {
        width: 90%;
    }

    .sound-container .sound-header-container .sound-header .right_to_left {
        animation-name: none;
    }

    .sound-container .sound-header-container .sound-header .left_to_right {
        animation-name: none;
    }

    .sound-container .sound-header-container .sound-header h1 {
        font-weight: 700;
        font-size: 50px;
        text-align: center;
    }

    .sound-container .sound-header-container .sound-header h1 span {
        font-size: 50px;
    }

    .sound-container .sound-content {
        padding: 0;
        margin: 0;
        margin: 80px 0;
        flex-direction: column;
    }

    .sound-container .sound-content .sound-section {
        width: 100%;
        margin-bottom: 70px;
    }

    .sound-container .sound-content .sound-section h1 {
        text-align: center;
    }

    .sound-container .sound-content .sound-section p {
        text-align: center;
    }

    .sound-container .sound-content .sound-section p span {
        font-weight: 600;
    }

    .sound-container .sound-footer {
        height: 85px;
        animation: none;
    }
}

@media only screen and (min-width: 426px) and (max-width : 768px) {
    .sound-container {
        justify-content: center;
        padding: 0 27px;
        height: 0;
        height: 100%;
    }

    .sound-container .sound-header-container {
        width: 100%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sound-container .sound-header-container .sound-header h1 {
        font-weight: 700;
        font-size: 50px;
    }

    .sound-container .sound-header-container .sound-header h1 span {
        font-size: 50px;
    }

    .sound-container .sound-content {
        padding: 0;
        margin: 0;
        margin-top: 50px;
        margin-bottom: 175px;
    }

    .sound-container .sound-content .sound-section h1 {
        font-size: 20px;
    }

    .sound-container .sound-content .sound-section p {
        font-size: 14px;
    }
}

@media only screen and (min-width: 769px) and (max-width : 1024px) {
    .sound-container {
        justify-content: center;
        padding: 0 27px;
        height: 0;
        height: 100%;
    }

    .sound-container .sound-header-container {
        width: 100%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sound-container .sound-header-container .sound-header h1 {
        font-weight: 700;
        font-size: 50px;
    }

    .sound-container .sound-header-container .sound-header h1 span {
        font-size: 50px;
    }

    .sound-container .sound-content {
        padding: 0;
        margin: 0;
        margin-top: 50px;
        margin-bottom: 175px;
    }

    .sound-container .sound-content .sound-section h1 {
        font-size: 20px;
    }

    .sound-container .sound-content .sound-section p {
        font-size: 14px;
    }
}