.pageContainer {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    169.22deg,
    #fdf7f7 12.19%,
    #efefef 100%,
    #dd6149 92%
  ) !important;
  font-family: "Open Sans", sans-serif;
}

.content {
  max-width: 1025px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: auto;
  padding: 0px 20px;
  gap: 8px;
}

.postsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.noPosts {
  margin-top: 55px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.242px;
}