.web3-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.web3-container div {
    width: 50%;
}

.web3-container div h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 100px;
    line-height: 100px;
    text-transform: uppercase;
    color: #1B2B41;
    text-align: center;
}

.web3-container div h1 span {
    font-style: italic;
    font-weight: 300;
    font-size: 100px;
    color: #C94B32;
}

.web3-container p {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    /* or 120% */

    /* Grey */
    color: #76808D;
    margin-top: 50px;
    margin-bottom: 40px;
}

.web3-container button {
    background: #C94B32;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 300px;
    height: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
}

.web3-container .ipfs-img {
    position: absolute;
    right: 12%;
    top: 32%;
}

.web3-container .polygon-img {
    position: absolute;
    right: 13%;
    bottom: 32%;
}

.web3-container .safe-img {
    position: absolute;
    left: 10%;
    bottom: 45%;
}

@media only screen and (max-width: 340px) {

    .web3-container {
        height: 0;
        height: 100%;
    }

    .web3-container div {
        width: 80%;
        margin-bottom: 40px;
    }

    .web3-container div h1 {
        font-size: 30px;
        line-height: normal;
    }

    .web3-container div h1 span {
        font-size: 30px;
    }

    .web3-container .ipfs-img {
        position: static;
        height: 90px;
        width: 150px;
    }

    .web3-container .polygon-img {
        position: static;
        height: 90px;
        width: 290px;
    }

    .web3-container .safe-img {
        position: static;
        height: 90px;
        width: 220px;
    }

    .web3-container p {
        font-size: 20px;
    }

    .web3-container button {
        background: #C94B32;
        border-radius: 5px;
        color: #fff;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        width: 260px;
        height: 50px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 345px) and (max-width : 375px) {
    .web3-container {
        height: 0;
        height: 100%;
    }

    .web3-container div {
        width: 80%;
        margin-bottom: 40px;
    }

    .web3-container div h1 {
        font-size: 40px;
        line-height: normal;
    }

    .web3-container div h1 span {
        font-size: 30px;
    }

    .web3-container .ipfs-img {
        position: static;
        height: 90px;
        width: 150px;
    }

    .web3-container .polygon-img {
        position: static;
        height: 90px;
        width: 290px;
    }

    .web3-container .safe-img {
        position: static;
        height: 90px;
        width: 220px;
    }

    .web3-container p {
        font-size: 20px;
    }

    .web3-container button {
        background: #C94B32;
        border-radius: 5px;
        color: #fff;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        width: 260px;
        height: 50px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 376px) and (max-width : 425px) {
    .web3-container {
        height: 0;
        height: 100%;
    }

    .web3-container div {
        width: 80%;
        margin-bottom: 40px;
    }

    .web3-container div h1 {
        font-size: 40px;
        line-height: normal;
    }

    .web3-container div h1 span {
        font-size: 30px;
    }

    .web3-container .ipfs-img {
        position: static;
        height: 90px;
        width: 150px;
    }

    .web3-container .polygon-img {
        position: static;
        height: 90px;
        width: 290px;
    }

    .web3-container .safe-img {
        position: static;
        height: 90px;
        width: 220px;
    }

    .web3-container p {
        font-size: 20px;
    }

    .web3-container button {
        background: #C94B32;
        border-radius: 5px;
        color: #fff;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        width: 260px;
        height: 50px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 426px) and (max-width : 768px) {}

@media only screen and (min-width: 769px) and (max-width : 1024px) {}