.wrapper {
  margin-top: 10vh;
}

.headingWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 78px;
}

.heading {
  color: var(--DARK, #1B2B41);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 100px;
}

.subheading {
  color: #76808D;
  text-align: center;
  font-family: "Open Sans";
  max-width: 620px;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: -0.242px;
}

.searchHeading {
  color: var(--DARK, #1B2B41);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 100px; /* 277.778% */
}

.searchText {
  color: var(--Dark-red, #B12F15);
}