.fit-container {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    position: relative;
    background-color: #FFF;
}

.fit-container .fit-title {
    font-style: normal;
    font-weight: 800;
    font-size: 100px;
    line-height: 100px;
    text-transform: uppercase;
    color: #1B2B41;
    text-align: center;
    margin-top: 50px;
}

.fit-container .fit-title span {
    font-style: italic;
    font-weight: 300;
    font-size: 100px;
    color: #C94B32;
}

.fit-container .fit-p {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    /* or 120% */
    text-align: center;

    /* Grey */
    color: #76808D;
    margin-top: 30px;
    margin-bottom: 40px;
}

.fit-container .fit-content {
    width: 390px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    /* or 133% */
    text-align: center;

    /* Grey */
    color: #76808D;
}

.fit-container button {
    margin-top: 40px;
    margin-bottom: 250px;
    background: #C94B32;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 300px;
    height: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    transition: background-color 0.5s linear;
    transition: box-shadow 0.25s linear;
}

.fit-container button:hover {
    background-color: #EA6447;
    box-shadow: 3px 5px 20px rgba(27, 43, 65, 0.12), 0px 0px 20px rgba(201, 75, 50, 0.18);
}

.fit-container button:focus {
    background-color: #b12e15;
}

.fit-container .bars-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 100px;
    margin-bottom: 25px;
    /* background-color: red; */
}

.fit-container .bars-row img {
    margin: 0 1rem 1rem 1rem;
    transform: translateY(-100px);
}

.fit-container .bars-row .bars-gray {
    background: #F0F0F0;
    border-radius: 20px;
    height: 75px;
}

.drop-animation {
    animation-name: drop;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transform: translateY(0px);
}

@keyframes drop {
    0% {
        transform: translateY(-125px);
    }

    100% {
        transform: translateY(0px);
    }
}

@media only screen and (max-width: 340px) {
    .fit-container {
        height: 0;
        height: 100%;
        padding: 0 20px;
        overflow-x: hidden;

    }

    .fit-container .fit-title {
        font-size: 30px;
        line-height: normal;
        margin-top: 100px;
    }

    .fit-container .fit-title span {
        font-size: 30px;
    }

    .fit-container .fit-p {
        font-size: 20px;
    }

    .fit-container .fit-content {
        width: 100%;
    }

    .fit-container button {
        margin-top: 40px;
        margin-bottom: 250px;
        background: #C94B32;
        border-radius: 5px;
        color: #fff;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        width: 250px;
        height: 50px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
    }

    .fit-container .bars-row {
        position: static;
    }
}

@media only screen and (min-width: 345px) and (max-width : 375px) {

    .fit-container {
        height: 0;
        height: 100%;
        padding: 0 20px;
        overflow-x: hidden;
    }

    .fit-container .fit-title {
        font-size: 40px;
        line-height: normal;
        margin-top: 100px;
    }

    .fit-container .fit-title span {
        font-size: 40px;
    }

    .fit-container .fit-p {
        font-size: 20px;
    }

    .fit-container .fit-content {
        width: 100%;
    }

    .fit-container button {
        margin-top: 40px;
        margin-bottom: 250px;
        background: #C94B32;
        border-radius: 5px;
        color: #fff;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        width: 250px;
        height: 50px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
    }

    .fit-container .bars-row {
        position: static;
    }
}

@media only screen and (min-width: 376px) and (max-width : 425px) {
    .fit-container {
        height: 0;
        height: 100%;
        padding: 0 20px;
        overflow-x: hidden;
    }

    .fit-container .fit-title {
        font-size: 40px;
        line-height: normal;
        margin-top: 100px;
    }

    .fit-container .fit-title span {
        font-size: 40px;
    }

    .fit-container .fit-p {
        font-size: 20px;
    }

    .fit-container .fit-content {
        width: 100%;
    }

    .fit-container button {
        margin-top: 40px;
        margin-bottom: 50px;
        background: #C94B32;
        border-radius: 5px;
        color: #fff;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        width: 250px;
        height: 50px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
    }

    .fit-container .bars-row {
        position: static;
    }
}

@media only screen and (min-width: 426px) and (max-width : 768px) {}

@media only screen and (min-width: 769px) and (max-width : 1024px) {}