.navbar-container {
    width: 100%;
    height: 10vh;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 600px) {
    .navbar-container {
        padding: 20px;
        height: 15vh;
        background-color: yellow;
    }

    .navbar-container .menu {
        height: 50px;
        width: 50px;
        object-fit: contain;
    }
}