.dashboard-container {
    width: 100%;
    height: 175vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: linear-gradient(178.31deg, #C94B32 0.74%, #A54536 63.87%);
}

.dashboard-container .dashboard-header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}

.dashboard-container .dashboard-header h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 100px;
    color: #1B2B41;
}

.dashboard-container .dashboard-header h1 span {
    font-style: italic;
    font-weight: 300;
    font-size: 100px;
    color: #FFF;
}

.dashboard-container .dashboard-body {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 100px;
}

.dashboard-container .dashboard-body .imgSm {
    display: none;
}

.dashboard-container .imgMilestone {
    display: none;
}

.dashboard-container .dashboard-body .img1 {
    z-index: 2;
    position: absolute;
    top: 50px;
    left: 15%;
}

.dashboard-container .dashboard-body .img2 {
    z-index: 1;
    position: absolute;
    top: 100px;
    right: 15%;

}

.dashboard-container .dashboard-body .img3 {
    z-index: 3;
    position: absolute;
    top: 0px;
    right: 5%;

}

.dashboard-container .dashboard-body .img4 {
    z-index: 3;
    position: absolute;
    top: 420px;
    right: 20%;
}

.dashboard-container .dashboard-body .img5 {
    z-index: 3;
    position: absolute;
    top: 250px;
    left: 5%;
}

.dashboard-container .dashboard-body .img6 {
    z-index: 3;
    position: absolute;
    top: 350px;
    left: 5%;
}

.dashboard-container .dashboard-body .img7 {
    z-index: 3;
    position: absolute;
    top: 525px;
    left: 5%;
}

.dashboard-container .dashboard-text-container {
    width: 100%;
    height: 50px;
    /* height: 0px; */
    display: flex;
    position: relative;
}

.dashboard-container .dashboard-text-container .dashboard-text {
    width: 70%;
    /* background-color: red; */
}

.dashboard-container .dashboard-text-container .dashboard-text h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: -50px;
    /* identical to box height, or 100% letter-spacing: -0.011em; */
    /* WHITE */
    color: #FFFFFF;
    text-align: center;

}

.dashboard-container .dashboard-text-container .dashboard-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    /* or 133% */

    /* WHITE */
    color: #FFFFFF;

    opacity: 0.8;
}

.dashboard-container .dashboard-text-container .dashboard-text p span {
    font-weight: bold;
}

.dashboard-container .dashboard-text-container .dashboard-text.pos1 {
    position: absolute;
    margin-top: 10%;
    bottom: 10%;
    left: 15%;
}

.dashboard-container .dashboard-text-container .dashboard-text.pos2 {
    margin-top: 15vh;
    position: absolute;
    right: 15%;
}

@media only screen and (max-width: 344px) {
    .dashboard-container {
        height: 125vh;
    }

    .dashboard-container .dashboard-header {
        margin-bottom: 60px;
    }

    .dashboard-container .dashboard-header h1 {
        font-size: 30px;
    }

    .dashboard-container .dashboard-header h1 span {
        font-size: 30px;
    }

    .dashboard-container .dashboard-body {
        height: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .dashboard-container .dashboard-body .imgSm {
        display: block;
        width: 100%;
        margin-bottom: -800px;
    }


    .dashboard-container .dashboard-body .img1 {
        display: none;
    }

    .dashboard-container .dashboard-body .img2 {
        display: none;
    }

    .dashboard-container .dashboard-body .img3 {
        display: none;
    }

    .dashboard-container .dashboard-body .img4 {
        display: none;
    }

    .dashboard-container .dashboard-body .img5 {
        display: none;
    }

    .dashboard-container .dashboard-body .img6 {
        display: none;
    }

    .dashboard-container .dashboard-body .img7 {
        display: none;
    }

    .dashboard-container .dashboard-text-container {
        width: 100%;
        /* height: 430px; */
        height: 0px;
        flex-direction: column;
        margin: 0;
    }

    .dashboard-container .dashboard-text-container .dashboard-text {
        width: 100%;
        margin-bottom: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 27px;
        text-align: center;

    }

    .dashboard-container .dashboard-text-container .dashboard-text.pos1 {
        position: static;
    }

    .dashboard-container .dashboard-text-container .dashboard-text.pos2 {
        margin: 0;
        position: static;
    }

    .dashboard-container .dashboard-text-container .dashboard-text h1 {
        font-size: 18px;
        text-align: center;
    }

    .dashboard-container .dashboard-body .dashboard-text p {
        text-align: center;
    }
}

@media only screen and (min-width: 345px) and (max-width : 375px) {

    .dashboard-container {
        height: 125vh;
    }
    .dashboard-container .dashboard-header {
        margin-bottom: 30px;
    }

    .dashboard-container .dashboard-header h1 {
        font-size: 30px;
    }

    .dashboard-container .dashboard-header h1 span {
        font-size: 30px;
    }

    .dashboard-container .dashboard-body {
        height: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .dashboard-container .dashboard-body .imgSm {
        display: block;
        width: 100%;
        margin-bottom: -800px;
    }


    .dashboard-container .dashboard-body .img1 {
        display: none;
    }

    .dashboard-container .dashboard-body .img2 {
        display: none;
    }

    .dashboard-container .dashboard-body .img3 {
        display: none;
    }

    .dashboard-container .dashboard-body .img4 {
        display: none;
    }

    .dashboard-container .dashboard-body .img5 {
        display: none;
    }

    .dashboard-container .dashboard-body .img6 {
        display: none;
    }

    .dashboard-container .dashboard-body .img7 {
        display: none;
    }

    .dashboard-container .dashboard-text-container {
        width: 100%;
        flex-direction: column;
        margin: 0;
        /* height: 400px; */
        height: 0px;
    }

    .dashboard-container .dashboard-text-container .dashboard-text {
        width: 100%;
        margin-bottom: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 27px;

    }

    .dashboard-container .dashboard-text-container .dashboard-text.pos1 {
        position: static;
    }

    .dashboard-container .dashboard-text-container .dashboard-text.pos2 {
        margin: 0;
        position: static;
    }

    .dashboard-container .dashboard-text-container .dashboard-text h1 {
        font-size: 18px;
        text-align: center;
    }

    .dashboard-container .dashboard-text-container .dashboard-text p {
        text-align: center;
    }
}

@media only screen and (min-width: 376px) and (max-width : 549px) {


    .dashboard-container {
        height: 125vh;
    }
    .dashboard-container .dashboard-header {
        margin-bottom: 30px;
    }

    .dashboard-container .dashboard-header h1 {
        font-size: 40px;
    }

    .dashboard-container .dashboard-header h1 span {
        font-size: 40px;
    }

    .dashboard-container .dashboard-body {
        height: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .dashboard-container .dashboard-body .imgSm {
        display: block;
        /*width: 100%;*/
        margin-bottom: -800px;
    }



    .dashboard-container .dashboard-body .img1 {
        display: none;
    }

    .dashboard-container .dashboard-body .img2 {
        display: none;
    }

    .dashboard-container .dashboard-body .img3 {
        display: none;
    }

    .dashboard-container .dashboard-body .img4 {
        display: none;
    }

    .dashboard-container .dashboard-body .img5 {
        display: none;
    }

    .dashboard-container .dashboard-body .img6 {
        display: none;
    }

    .dashboard-container .dashboard-body .img7 {
        display: none;
    }

    .dashboard-container .dashboard-text-container {
        width: 100%;
        flex-direction: column;
        margin: 0;
        /* height: 400px; */
        height: 0px;
    }

    .dashboard-container .dashboard-text-container .dashboard-text {
        width: 100%;
        margin-bottom: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 27px;

    }

    .dashboard-container .dashboard-text-container .dashboard-text.pos1 {
        position: static;
    }

    .dashboard-container .dashboard-text-container .dashboard-text.pos2 {
        margin: 0;
        position: static;
    }

    .dashboard-container .dashboard-text-container .dashboard-text h1 {
        font-size: 18px;
        text-align: center;
    }

    .dashboard-container .dashboard-text-container .dashboard-text p {
        text-align: center;
    }
}

@media only screen and (min-width: 550px) and (max-width : 768px) {

    .dashboard-container {
        height: 125vh;
    }
    .dashboard-container .dashboard-header {
        margin-bottom: 30px;
    }

    .dashboard-container .dashboard-header h1 {
        font-size: 50px;
    }

    .dashboard-container .dashboard-header h1 span {
        font-size: 50px;
    }

    .dashboard-container .dashboard-body {
        height: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .dashboard-container .dashboard-body .imgSm {
        display: block;
       /*width: 100%;*/
        margin-bottom: -780px;
    }



    .dashboard-container .dashboard-body .img1 {
        display: none;
    }

    .dashboard-container .dashboard-body .img2 {
        display: none;
    }

    .dashboard-container .dashboard-body .img3 {
        display: none;
    }

    .dashboard-container .dashboard-body .img4 {
        display: none;
    }

    .dashboard-container .dashboard-body .img5 {
        display: none;
    }

    .dashboard-container .dashboard-body .img6 {
        display: none;
    }

    .dashboard-container .dashboard-body .img7 {
        display: none;
    }

    .dashboard-container .dashboard-text-container {
        width: 100%;
        flex-direction: column;
        margin: 0;
        /* height: 400px; */
        height: 0px;
    }

    .dashboard-container .dashboard-text-container .dashboard-text {
        width: 100%;
        margin-bottom: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 27px;

    }


    .dashboard-container .dashboard-text-container .dashboard-text.pos1 {
        position: static;
    }

    .dashboard-container .dashboard-text-container .dashboard-text.pos2 {
        margin: 0;
        position: static;
    }

    .dashboard-container .dashboard-text-container .dashboard-text h1 {
        font-size: 22px;
        text-align: center;
    }

    .dashboard-container .dashboard-text-container .dashboard-text p {
        text-align: center;
    }

}

@media only screen and (min-width: 769px) and (max-width : 1024px) {
    
    .dashboard-container .dashboard-header {
        margin-bottom: 30px;
    }

    .dashboard-container .dashboard-header h1 {
        font-size: 50px;
    }

    .dashboard-container .dashboard-header h1 span {
        font-size: 50px;
    }

    .dashboard-container .dashboard-body {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .dashboard-container .dashboard-body .img1 {
        z-index: 2;
        position: absolute;
        top: -20%;
        left: 0%;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .dashboard-container .dashboard-body .img2 {
        z-index: 1;
        position: absolute;
        top: -15%;
        right: 0%;
        width: 100%;
        height: 100%;
        object-fit: contain;
        /* display: none; */
    }

    .dashboard-container .dashboard-body .img3 {
        z-index: 3;
        position: absolute;
        top: 0;
        right: 5%;
        /* display: none; */

    }

    .dashboard-container .dashboard-body .img4 {
        z-index: 3;
        position: absolute;
        top: 40%;
        right: 0%;
        /* display: none; */
    }

    .dashboard-container .dashboard-body .img5 {
        z-index: 3;
        position: absolute;
        top: 0%;
        left: 5%;
    }

    .dashboard-container .dashboard-body .img6 {
        /* z-index: 3;
            position: absolute;
            top: 350px;
            left: 5%; */
        display: none;
    }

    .dashboard-container .dashboard-body .img7 {
        z-index: 3;
        position: absolute;
        top: 55%;
        left: 5%;
    }

    .dashboard-container .dashboard-body .dashboard-text {
        width: 45%;
    }

    .dashboard-container .dashboard-body .dashboard-text.pos1 {
        position: absolute;
        bottom: 20%;
        left: 0%;
    }

    .dashboard-container .dashboard-body .dashboard-text.pos2 {
        position: absolute;
        bottom: 10%;
        right: 0%;
    }

    .dashboard-container .dashboard-body .dashboard-text h1 {
        text-align: center;
    }

    .dashboard-container .dashboard-body .dashboard-text p {
        text-align: center;
    }
}
